<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSql.Properties.Settings.AsoniDBConnectionString"
            connectionString="Data Source=ASONI\PANJUTORIALSSQL;Initial Catalog=AsoniDB;User ID=sa;Password=hitlaasoni275"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>